# Ignore GDB history
.gdb_history
# Ignore unpacked firmware files
firmware/*
!firmware/R6700v3-V1.0.4.120_10.0.91.zip
!firmware/circled.patch.py
!firmware/circled.driver.sh
!firmware/bins/
# Ignore object files
libcircled/*
!libcircled/Makefile
!libcircled/circled.c
# Ignore all .yaml file (but the .init.yaml files)
morion/*.yaml
!morion/circled.init.yaml
!morion/circled.trace.yaml